# Data Analysis: Wikimedia Article Quality Data

This notebook takes the final output from `data_wrangling_merge_csvs.ipynb` and performs required analyses on this file, outputting results in tabular format.

# First Step: Read in Files

The following packages are required for this notebook:

In [8]:
import pandas as pd
from IPython.display import display

Now we read in the file.

In [2]:
wp_politicians_by_country = pd.read_csv("../../data/final/wp_politicians_by_country.csv")

# ANALYSIS 1: Top 10 Countries By Coverage

First we group by country and find the total article count to identify coverage

In [13]:
#group by country and find number of articles
article_coverage_df = wp_politicians_by_country.groupby('country').agg(article_count = ('country', 'size'),
                                                                       population = ('population', 'mean'),
                                                                       region = ('region', 'first')).reset_index()

Next, we filter the coverage dataframe to find the top 10 article counts, and display the dataframe in the jupyter notebook

In [14]:
#Sort input dataframe, pick top 10, and remove index
top10_article_coverage = article_coverage_df.sort_values("article_count", ascending = False)[0:10]
#display the dataframe
display(top10_article_coverage.style)

# ANALYSIS 2: Bottom 10 Countries by Coverage

We have already generated high quality article count by country. Therefore, we can use the previous dataframe, change the sort order, and display the dataframe.

In [34]:
#Sort input dataframe, pick bottom 10, and remove index
bottom10_article_coverage = article_coverage_df.sort_values("article_count", ascending = True)[0:10]
#display the dataframe
display(bottom10_article_coverage.style)

# Analysis 3: Top 10 Countries by High Quality Article Count

First, we have to move from article scores to whether or not the article is high quality. We can do this by assigning a boolean indicating whether or not the quality score maps to a high quality score ("FA", or "GA"). Then we can sum the number of high quality articles per country.

In [20]:
# find all article quality score possibility 
set(wp_politicians_by_country.article_quality.tolist())

{'B', 'C', 'FA', 'GA', 'Start', 'Stub', nan}

In [23]:
#init dict of high quality or low quality
quality_dict = {'B' : False,
                'C' : False,
                'nan' : False,
                'FA' : True,
                'GA' : True,
                'Start' : False,
                'Stub' : False}

wp_politicians_by_country['High_Quality'] = wp_politicians_by_country['article_quality'].map(quality_dict)

Here we aggregate by country and sum high quality article count.

In [31]:
highquality_count_by_country = wp_politicians_by_country.groupby('country').agg(high_quality_count = ("High_Quality", sum),
                                                                                population = ('population', 'mean'),
                                                                                region = ('region', 'first')).reset_index()

/var/folders/_p/bxhqsmnd5w54bhnc_zblrb9h0000gq/T/ipykernel_35951/1985158791.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  highquality_count_by_country = wp_politicians_by_country.groupby('country').agg(high_quality_count = ("High_Quality", sum),

Next, we sort by high quality article count, select the countries with the top 10 high quality article count, and display the dataframe.

In [38]:
#convert high quality count to a numeric
highquality_count_by_country['high_quality_count'] = pd.to_numeric(highquality_count_by_country['high_quality_count'], errors='coerce')
#Sort input dataframe, pick top 10, and remove index
top10_highquality = highquality_count_by_country.sort_values("high_quality_count", ascending = False)[0:10]
#display the dataframe
display(top10_highquality.style)

# ANALYSIS 4: Bottom 10 Countries by High Quality Article Count

In [39]:
#Sort input dataframe, pick top 10, and remove index
bottom10_highquality = highquality_count_by_country.sort_values("high_quality_count", ascending = True)[0:10]
#display the dataframe
display(bottom10_highquality.style)

# ANALYSIS 5: List of Geographic Regions with Total Articles Per Capita

First, we group by region and aggregate article count and population size.

In [62]:
#group by country and find number of articles
article_coverage_df_region = wp_politicians_by_country.groupby('region').agg(article_count = ('region', 'size'),
                                                                       population = ('population', 'sum')).reset_index()

Next, we order by article_count, and display the table

In [63]:
display(article_coverage_df_region.sort_values('article_count', ascending = False).style)

# ANALYSIS 6: List of Geographic Regions with Total High Quality Articles Per Capita

First, we aggregate high quality article count by region.

In [65]:
#group by country and find number of articles
highquality_coverage_df_region = wp_politicians_by_country.groupby('region').agg(high_quality_count = ('High_Quality', 'sum'),
                                                                                population = ('population', 'sum')).reset_index()

Next, we order by high_quality_count, and display the table

In [66]:
display(highquality_coverage_df_region.sort_values('high_quality_count', ascending = False).style)