# Data Analysis: Wikimedia Article Quality Data

This notebook takes the final output from `data_wrangling_merge_csvs.ipynb` and performs required analyses on this file, outputting results in tabular format.

# First Step: Read in Files

The following packages are required for this notebook:

In [137]:
import pandas as pd
from IPython.display import display

Now we read in the file. We also read in the base population by country file for accurate counts of regional populations in analyses five and six.

In [138]:
#read in files
wp_politicians_by_country = pd.read_csv("../../data/final/wp_politicians_by_country.csv")
population_by_country = pd.read_csv("../../data/intermediate/population_by_country_AUG.2024.csv")

# ANALYSIS 1: Top 10 Countries By Coverage

First we group by country and find the total article count to identify coverage. Note that the population is 0 for some countries, which will cause faulty per capita calculation.

In [121]:
#group by country and find number of articles
article_coverage_df = wp_politicians_by_country.groupby('country').agg(article_count = ('country', 'size'),
                                                                       population = ('population', 'mean'),
                                                                       region = ('region', 'first')).reset_index()
#Per Capital Metrics
article_coverage_df["Article Count Per Million People"] = article_coverage_df['article_count'] / article_coverage_df['population']

Next, we filter the coverage dataframe to find the top 10 article counts, and display the dataframe in the jupyter notebook

In [122]:
#Sort input dataframe, pick top 10, and remove index
top10_article_coverage = article_coverage_df.sort_values("Article Count Per Million People", ascending = False)[0:10].reset_index(drop = True)
top10_article_coverage = top10_article_coverage.drop(['article_count'], axis = 1)
#display the dataframe
display(top10_article_coverage.style)

# ANALYSIS 2: Bottom 10 Countries by Coverage

We have already generated article count by country. Therefore, we can use the previous dataframe, change the sort order, and display the dataframe.

In [123]:
#Sort input dataframe, pick bottom 10, and remove index
bottom10_article_coverage = article_coverage_df.sort_values("Article Count Per Million People", ascending = True)[0:10].reset_index(drop = True)
#drop unnecessary columns
bottom10_article_coverage = bottom10_article_coverage.drop(['article_count'], axis = 1)
#display the dataframe
display(bottom10_article_coverage.style)

# Analysis 3: Top 10 Countries by High Quality Article Count

First, we have to move from article scores to whether or not the article is high quality. We can do this by assigning a boolean indicating whether or not the quality score maps to a high quality score ("FA", or "GA"). Then we can sum the number of high quality articles per country.

In [139]:
# find all article quality score possibility 
set(wp_politicians_by_country.article_quality.tolist())

{'B', 'C', 'FA', 'GA', 'Start', 'Stub', nan}

In [140]:
#init dict of high quality or low quality
quality_dict = {'B' : False,
                'C' : False,
                'nan' : False,
                'FA' : True,
                'GA' : True,
                'Start' : False,
                'Stub' : False}

wp_politicians_by_country['High_Quality'] = wp_politicians_by_country['article_quality'].map(quality_dict)

Here we aggregate by country and sum high quality article count.

In [141]:
#group by country, aggregate to find required fields
highquality_count_by_country = wp_politicians_by_country.groupby('country').agg(high_quality_count = ("High_Quality", sum),
                                                                                population = ('population', 'mean'),
                                                                                region = ('region', 'first')).reset_index()

/var/folders/_p/bxhqsmnd5w54bhnc_zblrb9h0000gq/T/ipykernel_43516/1985158791.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  highquality_count_by_country = wp_politicians_by_country.groupby('country').agg(high_quality_count = ("High_Quality", sum),

Next, we sort by high quality article count, generate the per capita metric, select the countries with the top 10 high quality article count, and display the dataframe.

In [142]:
#convert high quality count to a numeric
highquality_count_by_country['high_quality_count'] = pd.to_numeric(highquality_count_by_country['high_quality_count'], errors='coerce')
#create per capita metric
highquality_count_by_country['High Quality Count Per Million People'] = highquality_count_by_country['high_quality_count'] / highquality_count_by_country['population']
#Sort input dataframe, pick top 10, and remove index
top10_highquality = highquality_count_by_country.sort_values('High Quality Count Per Million People', ascending = False)[0:10].reset_index(drop = True)
top10_highquality = top10_highquality.drop(['high_quality_count'], axis = 1)
#display the dataframe
display(top10_highquality.style)

# ANALYSIS 4: Bottom 10 Countries by High Quality Article Count

We have already generated high quality article count by country. Therefore, we can use the previous dataframe, change the sort order, and display the dataframe.

In [146]:
#Sort input dataframe, pick top 10, and remove index
bottom10_highquality = highquality_count_by_country.sort_values('High Quality Count Per Million People', ascending = True)[0:10].reset_index(drop = True)
bottom10_highquality = bottom10_highquality.drop(['high_quality_count'], axis = 1)
#display the dataframe
display(bottom10_highquality.style)

However, we note that all of these have 0 high quality articles per capita. Additional exploration reveals that many countries actually have 0 counts.

In [149]:
display(highquality_count_by_country[highquality_count_by_country['High Quality Count Per Million People'] == 0].reset_index(drop = True).style)

# ANALYSIS 5: List of Geographic Regions with Total Articles Per Capita

First, we group by region and aggregate article count and population size. We also merge with the population by country table to find accurate population estimates per region.

In [133]:
#group by country and find number of articles
article_coverage_df_region = wp_politicians_by_country.groupby('region').agg(article_count = ('region', 'size')).reset_index()
#merge to find accurate population counts
population_by_country.columns = ["region", "Population"]
article_coverage_df_region = pd.merge(article_coverage_df_region,
                                      population_by_country,
                                      how = "left",
                                      on = "region")

Next, we construct the per capita metric, order by it, and display the table

In [134]:
#per capita metric
article_coverage_df_region['Article Count Per Million People'] = article_coverage_df_region['article_count'] / article_coverage_df_region['Population']
article_coverage_df_region = article_coverage_df_region.drop(["article_count"], axis = 1)
article_coverage_df['rank'] = range(0, 166)
#order table, drop index, and display
display(article_coverage_df_region.sort_values('Article Count Per Million People', ascending = False).reset_index(drop=True).style)

# ANALYSIS 6: List of Geographic Regions with Total High Quality Articles Per Capita

First, we aggregate high quality article count by region.

In [135]:
#group by country and find number of articles
highquality_coverage_df_region = wp_politicians_by_country.groupby('region').agg(high_quality_count = ('High_Quality', 'sum')).reset_index()
#merge to find accurate population counts
highquality_coverage_df_region = pd.merge(highquality_coverage_df_region,
                                            population_by_country,
                                            how = "left",
                                            on = "region")

Next, we construct the per capita metric, order by it, and display the table

In [136]:
#per capita metric
highquality_coverage_df_region['High Quality Count Per Million People'] = highquality_coverage_df_region['high_quality_count'] / highquality_coverage_df_region['Population']
highquality_coverage_df_region = highquality_coverage_df_region.drop(["high_quality_count"], axis = 1)
highquality_coverage_df_region = highquality_coverage_df_region.sort_values('High Quality Count Per Million People', ascending = False)
highquality_coverage_df_region['rank'] = range(0, 18)
#show table
display(highquality_coverage_df_region.reset_index(drop=True).style)